In [1]:
import pandas as pd

In [2]:
data = pd.read_parquet("/home/rzby/ffmc_dc/data/processed/daily_features.parquet")
data.head()

,station_id,date_local,temp_13LT_C,rh_avg_pc,wind_avg_kmh,qff_avg_hPa,rain_mm,evap_mm,ffmc
0,96595,2015-01-01 00:00:00+00:00,32.2,71.39375,0.92600,1009.58750,3.0,4.0,73.688695
1,96595,2015-01-02 00:00:00+00:00,30.0,79.08750,0.92600,1010.58125,0.0,3.0,83.174782
2,96595,2015-01-03 00:00:00+00:00,31.1,79.30000,0.00000,1010.85625,0.0,3.0,84.831423
3,96595,2015-01-04 00:00:00+00:00,30.9,76.87500,1.15750,1009.85000,20.5,6.0,60.330249
4,96595,2015-01-05 00:00:00+00:00,29.2,85.48750,0.57875,1010.38750,10.8,6.0,58.220215

In [3]:
data.to_csv("/home/rzby/ffmc_dc/data/processed/daily_features.csv", index=False)